<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true" scan="true" scanPeriod="60 seconds">
    <property name="LOG_GAME_ID" value="test"/>
    <property name="includeCallerData" value="true"/>
    <property name="LOG_HOME" value="/data/${LOG_GAME_ID}"/>
    <!--<property name="LOG_PATTERN" value="%date %level [%thread] [%c{20} %M %line] - %msg%n"/>-->
    <property name="LOG_PATTERN" value="%date %level [%thread] [%c] - %msg%n"/>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>UTF-8</charset>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="INFOLOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/info.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/history/info.%d{yyyy-MM-dd}.%i.log.gz
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>128MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>10</maxHistory>
        </rollingPolicy>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>

    </appender>

    <appender name="ERRORLOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/error.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/history/error.%d{yyyy-MM-dd}.%i.log.gz
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>128MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>10</maxHistory>
        </rollingPolicy>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>${LOG_PATTERN}
            </pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
        </filter>
    </appender>


    <!-- 异步日志配置 -->
    <appender name="ASYNC_INFO_LOG" class="ch.qos.logback.classic.AsyncAppender">
        <discardingThreshold>0</discardingThreshold>
        <queueSize>
            8192
        </queueSize>
        <includeCallerData>${includeCallerData}</includeCallerData>
        <appender-ref ref="INFOLOG"/>
    </appender>
    <appender name="ASYNC_ERROR_LOG" class="ch.qos.logback.classic.AsyncAppender">
        <discardingThreshold>0</discardingThreshold>
        <queueSize>
            8192
        </queueSize>
        <includeCallerData>${includeCallerData}</includeCallerData>
        <appender-ref ref="ERRORLOG"/>
    </appender>


    <root level="INFO">
        <appender-ref ref="ASYNC_INFO_LOG"/>
        <appender-ref ref="ASYNC_ERROR_LOG"/>
        <!--<appender-ref ref="STDOUT"/>-->
        
    </root>
    

    <!-- 配置结果的输出 -->
    <appender name="ASYNC_RESULT_LOG" class="ch.qos.logback.classic.AsyncAppender">
        <discardingThreshold>0</discardingThreshold>
        <queueSize>
            8192
        </queueSize>
        <includeCallerData>${includeCallerData}</includeCallerData>
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="ASYNC_ERROR_LOG"/>
    </appender>

    <appender name="RESULT_LOG" class="ch.qos.logback.core.FileAppender">
        <file>${LOG_HOME}/result.log</file>
        <append>true</append>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>
    
    
    <logger name="result"
            additivity="false">
        <level value="INFO"/>
        <appender-ref ref="ASYNC_RESULT_LOG"/>
        <appender-ref ref="RESULT_LOG"/>
    </logger>
</configuration>
